services:
  traefik:
    # The official v2 Traefik docker image
    image: traefik:v3.1.2
    restart: unless-stopped
    # Enables the web UI and tells Traefik to listen to docker
    command:
      - --api.insecure=true
      - --providers.docker
      # Define the 'web' entrypoint on port 80
      - --entrypoints.web.address=:80
      # Increase the readTimeout on 'web' to 5 minutes (300s) for large uploads
      - --entrypoints.web.transport.respondingTimeouts.readTimeout=3000s
      # Optional: Also set a very long write timeout
      - --entrypoints.web.transport.respondingTimeouts.writeTimeout=3000s
    ports:
      # The HTTP port
      - "80:80"
      # The Web UI (enabled by --api.insecure=true)
      - "8080:8080"
    volumes:
      # So that Traefik can listen to the Docker events
      - /var/run/docker.sock:/var/run/docker.sock
    logging:
      driver: journald
